<div class="career-placement-support" fxLayout="row wrap" fxLayoutGap="20px grid" fxLayoutAlign="center center">
    <div fxFlex="24%" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card (click)="openDialog()" fxLayout="column">
            <h2 class="mat-card-heading">Get Hired Faster with Soft Solutions</h2>
            <h5 class="mat-card-paragraph">Our Placement Team will be sending you job opportunities and arranging
                interviews until you get
                placement in IT Companies. These certificate courses enable students to boost their career
                prospects.</h5>
            <img class="mat-card-bg" src="assets/images/shape_combined.svg">
            <img class="mat-card-img" src="assets/images/get-hired.png">
        </mat-card>
    </div>
    <div fxFlex="24%" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card (click)="openDialog()" fxLayout="column">
            <h2 class="mat-card-heading">Sourcing & Interview Scheduling</h2>
            <h5 class="mat-card-paragraph">We will be sending your Updated Resume to IT Recruiters & Get your
                Interview Scheduled in Bangalore and Chennai.</h5>
            <img class="mat-card-bg" src="assets/images/shape_combined.svg">
            <img class="mat-card-img" src="assets/images/interview-scheduling.png">
        </mat-card>
    </div>
    <div fxFlex="24%" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card (click)="openDialog()" fxLayout="column">
            <h2 class="mat-card-heading">Hands on Projects</h2>
            <h5 class="mat-card-paragraph">Our courses integrate Practical, Hands-on Training & Exposure with
                Industry Use Case Studies and Real Projects using datasets from companies like Uber, Amazon,
                Sandisk, Nike, Swiggy, Yelp, and Walmart, etc.
                digital marketing courses</h5>
            <img class="mat-card-bg" src="assets/images/shape_combined.svg">
            <img class="mat-card-img" src="assets/images/hands-on-project.png">
        </mat-card>
    </div>
    <div fxFlex="24%" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card (click)="openDialog()" fxLayout="column">
            <h2 class="mat-card-heading">Resume Building</h2>
            <h5 class="mat-card-paragraph">Integrating real-world projects to make your resume world-class as per
                Current Job Requirements</h5>
            <img class="mat-card-bg" src="assets/images/shape_combined.svg">
            <img class="mat-card-img" src="assets/images/resume.png">
        </mat-card>
    </div>
    
    
    
    
</div>