<div class="benifits-main" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="40px">
    <div class="benifits" fxLayout="row wrap">
        <div class="benifits1" fxFlex fxLayout="column" fxLayoutAlign="center center">
            <h1 class="text-bold">100% placement program</h1>
            <h4>Our Placement Officer will send for Interviews till you Get Placed, Interview Q&A
                provided which are frequently asked in Companies, Our Experienced Trainers will help Get your Resume
                Ready as per IT Standards, Real cases provided to clear Interviews, Practical
                Knowledge Training on Topics</h4>
        </div>
        <div class="benifits2" fxFlex fxLayout="column" fxLayoutAlign="center center">
            <h1 class="text-bold">Student free benefits</h1>
            <h4>We Provide Projects for you to Practice, Free Job Assistance and Certification, Free Technical
                Support
                even after Course Completion, Backup Classes for missing topics, Lab Facility, Wifi, Led TV
                Projector,
                Career Counselling, Mock Exams and Mock Interviews Conducted</h4>
        </div>
        <div class="benifits1" fxFlex fxLayout="column" fxLayoutAlign="center center">
            <h1 class="text-bold">Course duration</h1>
            <h4>45 - 50 Hours of Theory and Practical Classes, Weekdays and Weekends Classes Available, Get In-Depth
                Practical Knowledge on each Topic, Pay Fees in Installments, Attend 1st Class Free, Classroom,
                Online &
                Corporate Training, Branches: Hyderabad, Pune, Bangalore and Chennai</h4>
        </div>
    </div>
</div>