<div class="title-large" fxLayout="row" fxLayoutAlign="center center">
    <h1>Our Services</h1>
</div>
<div class="services">
    <p style="padding-left: 40px; padding-right: 40px; padding-top: 40px;">
        <span class="text-bold">AG Soft Solutions</span> started very small in its services with commencement of training
        division, even though we
        started with very few labels in the software training division today we have scaled very high by adding almost
        every label that can make the student drive towards their destiny of industry. We started keeping our major
        aspect of concentration in training at academic levels as well as corporate levels, balancing both the areas
        with the layer of difference what they expect from time to time.<br><br>

        We keep our success live in the training divisions by designing the training resources and content of the
        training programs as per the participants and their demand of change as expected. The methodology adapted by
        <span class="text-bold">AG Soft Solutions</span> is time tested by the success of the participants in the last 10
        years.<br><br>

        The different flavors of training segments provided at <span class="text-bold">AG Soft Solutions</span> are tested
        to be competitive to the
        needs and demands of the software industries, and these flavors are derives as follows…
    </p>
    <mat-divider></mat-divider><br>
    <div class="training">
        <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="12px grid">
            <div fxFlex="24%" fxFlex.xs="100%" fxFlex.sm="33%" fxLayoutAlign="center center">
                <mat-card routerLink="/classroom-training" fxLayout="column" fxLayoutAlign="space-between center"
                    fxLayoutGap="8px">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <img class="training-logo" src="assets/images/CT.png">
                        <h2>CLASSROOM TRAINING</h2>
                    </div>
                    <div>
                        <P class="line-clamp">Quality Training by Experts of various Technologies to suit aspirants from a different
                            academic
                            profile.</P>
                    </div>
                </mat-card>
            </div>
            <div fxFlex="24%" fxFlex.xs="100%" fxFlex.sm="33%" fxLayoutAlign="center center">
                <mat-card routerLink="/online-training" fxLayout="column" fxLayoutAlign="space-between center"
                    fxLayoutGap="8px">
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                        <img class="training-logo" src="assets/images/OT.png">
                        <h2>ONLINE TRAINING</h2>
                    </div>
                    <div>
                        <P>Quality Training by Experts of various Technologies to suit aspirants from a different
                            academic
                            profile.</P>
                    </div>
                </mat-card>
            </div>
            <div fxFlex="24%" fxFlex.xs="100%" fxFlex.sm="33%" fxLayoutAlign="center center">
                <mat-card (click)="openDialog()" fxLayout="column" fxLayoutAlign="space-between center"
                    fxLayoutGap="8px">
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                        <img class="training-logo" src="assets/images/COT.png">
                        <h2>CORPORATE TRAINING</h2>
                    </div>
                    <div>
                        <P>Quality Training by Experts of various Technologies to suit aspirants from a different
                            academic profile.</P>
                    </div>
                </mat-card>
            </div>
            <div fxFlex="24%" fxFlex.xs="100%" fxFlex.sm="33%" fxLayoutAlign="center center">
                <mat-card (click)="openDialog()" fxLayout="column" fxLayoutAlign="space-between center"
                    fxLayoutGap="8px">
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                        <img class="training-logo" src="assets/images/WT.png">
                        <h2>WEEKEND TRAINING</h2>
                    </div>
                    <div>
                        <P>Quality Training by Experts of various Technologies to suit aspirants from a different
                            academic
                            profile.</P>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<app-scroll-to-top></app-scroll-to-top>